# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
.nyc_output/

# Cache
.cache/
.parcel-cache/
.sass-cache/
.eslintcache

# Misc
*.pem
*.p12
*.key
*.crt
*.cer
